* {
  background: black;
}
Welcome {
  border: round white;
  border-title-color: white;
  border-title-align: center;
  border-title-style: bold;
  padding: 0 1;
  text-align: center;
}

ModelPicker {
  padding: 0;
  height: 1fr;
  width: 1fr;
  color: white;
  border: round white;
  border-title-color: white;
  border-subtitle-color: white;
  &:focus {
    background: black;
    color: white;
    border: round white;
    border-title-style: bold;
    border-subtitle-color: white;
  }
  &.-empty {
    background: black;
    hatch: right #333333;
  }
  & .option-list--option-hover {
    background: white;
    color: black;
  }
}
ApiKeyInputScreen {
  align: center middle;
  background: red;
}

ApiInputForm {
  align: center middle;
  background: black;
  color: white;
  border: solid white;
  width: 50%;
  height: 25%;
}
ApiInputForm Vertical {
  align: center middle;
  width: 100%;
  height: auto;
}

#form-title {
  text-align: center;
}

ApiInputForm Input {
  width: 50%;
  border: solid white;
}

ApiInputForm Button {
  border: solid white;
}
